.app-download {
  font-size: max(1vw, 20px);
  font-weight: 500;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 42vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e4002b 60vh
    ),
    repeating-linear-gradient(#ef4565, #9e0521);
}
.app-download p {
  color: black;
}
.app-download-platforms {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
  margin-top: 40px;
}
.app-download-platforms img {
  width: max(17vw, 100px);
  max-width: 140px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.app-download-platforms img:hover {
  transform: scale(1.1);
}
.app-download p {
  font-size: 1.5em;
  margin: 0;
}
.app-download p span {
  padding-left: 60px;
}
.app-download p span.company-name {
  color: white;
}

@media (max-width: 991px) {
  .app-download {
    width: 100%;
  }
  .app-download p {
    font-size: 1.3em;
    margin: 0;
  }
}
